#ra-ts2-open-button {
	padding: 0 4px 0 4px;

	img {
		width: 20px;
		height: 20px;
		position: relative;
		max-width: 50px;
		border: 0;
		top: 3px;
	}
}
.ra-ts2-wrapper {
	min-width: 841px;
	min-height: 678px;
}

#site-content {
	margin-bottom: auto !important;
}